<p>Filter By Price</p>
<input type="number" name="min_value" value = "5" class= "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" /> To
<input type="number" name="max_value" value = "100" class= "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />